
	<!-- Coming Soon Content -->
	<div class="row">
		<div class="col-md-2 coming-soon"></div>
		<div class="col-md-8 coming-soon">
			<%= image_tag "Wrld-bauhaus3.png", size: "324x132" %><br>
			<p>WRLD is a video-based online and mobile competition platform that brings together friends and competitors from all over the world to showcase their skills, meet like-minded people and above all, have fun!</p><br>
						
			<%= form_for(@email, url: root_path) do |f| %>
				<div class="input-group col-md-6 col-md-offset-3">
						<%= f.text_field :email, class: "form-control", placeholder: "Your Email" %>	
						<span class="input-group-btn">
							<%= f.submit "Subscribe", class: "btn-u" %>
						</span>		
				</div>
			<% end %><br>
			<div class="input-group col-md-6 col-md-offset-3">
				<% flash.each do |key,value| %>
					<div class="alert alert-<%= key %>">
						<%= value %>
					</div>
				<% end %>
			</div>
			<h1>Coming Soon</h1>				
		</div>
		<div class="col-md-2 coming-soon"></div>
	</div>

	<!-- Coming Soon Plugn -->
	<div class="coming-soon-plugin" style="height: 200px;">
		<div id="defaultCountdown"></div>
	    <!--=== Sticky Footer ===-->
	    <div class="sticky-footer">
	      <p class="copyright-space">
	      	info@wrldchamp.com<br>
	        2016 &copy; WRLD. ALL Rights Reserved.
	      </p>
	    </div>
	    <!--=== End Sticky-Footer ===-->
	</div>

<!--=== End Content Part ===-->

<!-- JS Global Compulsory -->

<script type="text/javascript">
	jQuery(document).ready(function() {
		App.init();
		PageComingSoon.initPageComingSoon();
	});
</script>

<!-- Background Slider (Backstretch) -->
<script>
	$.backstretch([
		"/assets/baby-pushups7.png"
		], {
			fade: 1000,
			duration: 7000
		});
</script>
<!--[if lt IE 9]>
<script src="assets/plugins/respond.js"></script>
<script src="assets/plugins/html5shiv.js"></script>
<script src="assets/plugins/placeholder-IE-fixes.js"></script>
<![endif]-->